body {
    background-color: black;
    background-image: url(https://ssl.gstatic.com/onebox/media/sports/logos/orE554NToSkH6nuwofe7Yg_64x64.png);
    margin: auto;
    text-align: center;
    align-items: center;
}
h1 {
    color: yellow;
}
p {
    color: white;
}
form {
    color: yellowgreen;
}
